body{
    background-color:cornsilk;
    background-repeat:no-repeat;
    color: orangered;
    text-align:center;

}
.Eve{
    text-align: center;
    color:limegreen; 
}
*{
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
} 
}
 .home{
    display: flex;
    text-align: center;
} 
.home nav ul li {
    display: inline-block;
    color: lightgreen; 
    background-color: hotpink;
    justify-content: space-between;
    
}
.footer{
    background-color:hotpink;
    text-align-last:center;
    padding:0%;
   font-style: normal;
   width: 100%;

}