
body{
    background-image: url(images/evelinerr\ \(1\).jpeg);
    background-repeat: no-repeat;
}
 nav ul li {
    display: inline-block;
    background-color:beige ;
    justify-content: space-between;
    
}
.footer{
    background-color:beige;
    text-align-last:center;
    padding:0%;
   font-style: normal;
   width: 100%;
}
body{
    background-color:cornsilk;
    background-repeat:no-repeat;
    color: orangered;
    text-align:center;
    border: 4px solid green;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color:burlywood;
  }
}
.links ul li {
list-style: none;


}
.language ol {
    text-align: left;
    margin-left: 40%;
}