.Eve{
    text-align: center;
    color:gold;
}
*{
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
}
body{
    background-image: url(/images/IMG-20200924-WA0000.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
.profile-img{
    width: 40%;
    float: right;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
}
.home{
    display: flex;
    text-align: center;
}
.home nav ul li {
    display: inline-block;
    color: lightgreen; 
    background-color: hotpink;
    justify-content: space-between;
    text-decoration: none;
    
}
.footer{
    background-color:hotpink;
    text-align-last:center;
    padding:0%;
   font-style: normal;
   width: 100%;
}
   .about{
    width: 220px;
    float: left;
    padding: 15px;
    margin: left 15px;
  }
}@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color:burlywood;
  }  
}
nav ul li a {
    text-decoration: none;
}
nav ul {
    float: right;
    margin-right: -10px;
}