.Eve{
    text-align: center;
    color:gold;
}
*{
    margin: 0;
    padding:20px;
    box-sizing: border-box;
} 
body{
    background-image: url(images/evelinerr\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    border: solid beige;
    /* padding-top: 5%; */

}
.profile-img{
    width: 40%;
    float: right;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
}
.home{
    text-align: center;
    width: 100%;
    background-color:beige;
    padding-top: 20px;
}
.home nav ul li{
    display: inline-block;
    list-style: none;
    text-decoration:none;
    padding: 20px;
    color: beige;
}
.footer{
    background-color:beige;
    text-align-last:center;
    padding:0%;
   font-style: normal;
   width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color:burlywood;
  }  
}
